.App {
  text-align: center;
}
.body {
  margin: 0;
}


.nav-container {
  margin-top: 0;
  position: fixed;
  display: flex;
  justify-content: space-around;
  height: 10.5%;
  overflow: hidden;
  width: 100%;
}
.logo-container {
margin-left: 0;
height: 70%;
width: 12%;
object-fit: fit-content;
}
.logo {
  padding-right: 3em;
  /* margin-left: 0; */
  /* padding-right: 3em; */
  height: 100%;
}
.title-container {
  display:flex;
  
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App {
  text-align: center;
}

.header {
  display: flex;
  justify-content:space-around;
  background-color: rgb(50, 96, 142);
  padding: 50px;
}

.button{
  color: black;
  background-color: white;
  border-radius: 10px;
  outline: white;
  padding: 10px;
  cursor: pointer;
}

.setcard {
  background-color: rgb(50, 96, 142);
  color: white;
  margin-left: 40%;
  margin-right: 40%;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: pointer;
}

.setcard:hover {
  color: gray;
}

.button:hover {
  color: gray;
}

.difficulty {
  width: 20%;
  height: 100px; 
  background-color: rgb(50, 96, 142);
  color: white;
  margin-top: 10px;
  border-radius: 10px;
  padding: 10px;
  padding-bottom: 8px;
}

.difficulty:hover{
  background-color: black;
}

#difficulty{
  display: flex;
  flex-direction: row;
  justify-content:space-around;
}

#question {
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: 30px;
}

#score {
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: 30px;
}

#eachSet{
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  padding: 10px;
  background-color: rgb(50, 96, 142);
  color: white;
  margin-left: 25%;
  margin-right: 25%;
  border-radius: 25px;
  margin-top: 5px;
}

.setButtons{
  color: black;
  background-color: white;
  border-radius: 10px;
  outline: white;
  padding: 10px;
  cursor: pointer;
  height: auto;
}



